<% if !user_signed_in? # if the user is not signed in, render this %>
  <style>
    body{
      background: url("/The-Louvre-2.jpg") no-repeat center center fixed; /*only displays once*/
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    h1{
      color: white;
      font-weight: bold;
    }
    .container-index {
      margin-right: 15%;
      margin-left: 15%;
    }
    .text{
      color: white;
      font-weight: 300;
    }
    .log-in{
      float: right;
      width: 250px;
      height: 250px;
    }
  </style>
  <div class="container-index row">
    <div class="col-sm-6">
      <h1>Welcome to EAZEL[social]</h1>
      <p class="text">
        EAZEL helps museums and galleries move their physical and temporary exhibitions online with a virtual reality technology.
        People can enjoy exhibitions of the leading art institutions from all around the world without geographical and time limits.
        Eazel democratizes experiencing art from anywhere at anytime. We believe anyone should be able to access great art exhibitions from all around the world.
        Eazel therefore, creates a renaissance for the appreciation of art in the contemporary era.
      </p>
    </div>
    <div class="col-sm-6">
      <div class="log-in panel">

      </div>
    </div>
  </div>

<% else # if the user is signed in %>
<!-- Display User Info-->
<div class = 'row'>
  <div class = 'col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
        Welcome, <%= current_user.name %>
        <p> Followers: </p><%= current_user.followers.count %>
      </div>
    </div>
  </div>

<!-- Display Post Feed -->
  <div class = 'col-xs-6'>
    <%= render '/posts/form' %>
    <% for @post in @posts %>
    <div class="panel panel-default">
      <div class="panel-body">
    <p>
      <%= link_to @post.title, @post %>
      <%= link_to (image_tag @post.image.url(:small)), @post %>
      <% if @post.comments.count == 1 %>
      <p></p>
      <%= @post.comments.count %>
      Comment
    <% else %>
      <p></p>
      <%= @post.comments.count %>
      Comments
    <% end %>
      <p>
        <%= @post.get_likes.size %>
        Likes
      </p>
    </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class = 'col-xs-3'>
    <div class = "panel panel-default">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<% end %>


<!-- %p Old index from testing (March period), change to a pages/ view later

- @posts.each do |post|
  = link_to (image_tag post.image.url(:small)), post
  %h2= link_to post.title, post
  - if post.comments.count == 1
    %p
    = post.comments.count
    Comment
  - else
    %p
    = post.comments.count
    Comments
  %p
    = post.get_likes.size
    Likes

= link_to "Add Post", new_post_path(@post) -->
