<%= link_to "Edit", 'edit' %>
<div class = 'row'>
  <div class = 'col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>User Info</p>
        <%= @username %>'s profile
        Followers: <%= current_user.followers.count %>
        Views: (In Progress)
        My Links: (In Progress)
      </div>
    </div>
  </div>

  <div class = 'col-xs-6'>
    <%= render '/posts/form' %>
    <% if @username = current_user.name %>
      Your posts:
    <% else %>
      <%= @username %>'s posts:
    <% end %>
    <% for @post in @posts %>
      <% if @post.user_id = User.find_by_name(@username).id %>
        <div class="panel panel-default">
          <div class="panel-body">
        <p>
          <%= link_to @post.title, @post %>
          <%= link_to (image_tag @post.image.url(:small)), @post %>
        </p>
          </div>
        </div>
      <% else %>
      <% end %>
    <% end %>
  </div>
  <div class = 'col-xs-3'>
    <%= render '/layouts/follow_button', :user => User.find_by_name(params[:id]) %>
    <div class = "panel panel-default">
      <div class="panel-body">
        <h5 style="color: grey, font-size 125%;"> Followers:</h5>
        <%= User.find_by_name(params[:id]).followers.count %>
      </div>
    </div>
  </div>
</div>
