= simple_form_for @post do |f|
  = f.input :title, input_html: { minlength: 0 }
  = f.input :link, input_html: { minlength: 0 }
  = f.input :description, input_html: { minlength: 0 }

  = f.button :submit
