
- @posts.each do |post|
  = link_to(image_tag post.image.url(:small))
  %h2= link_to post.title, post
  - post.comments.each do |comment|
    - if post.comments.count == 1
      %p
      = post.comments.count
      Comment
    - else
      %p
      = post.comments.count
      Comments
  %p
    = post.get_likes.size
    Likes

= link_to "Add Post", new_post_path(@post)
