<!DOCTYPE html>
<html>
  <head>
    <title>EAZEL-Social</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'eazelsoc.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Devise requirements: -->
  <body>
    <%= render 'layouts/nav' %>
    <div class = 'container'>
    <!-- (EAZEL) Preload -->
    <!-- <div class="preloader" style="display: none;"> -->
        <!-- <div class="loader-inner ball-scale-ripple-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div> -->
    <!-- </div> -->
    <%= yield %>
  </div>
  </body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>
